a {
    text-decoration: none;
    float: right;
    margin: 7.5px;
    font-size: 22px;
    color: ffffff;
}

a:hover {
    text-decoration: none;
    color: 000000;
}

#title {
    float: left;
    font-size: 40px;
}

h1 {
    float: left;
}

#header {
    overflow: hidden;
    background-color: #ffb347;
    padding: 8px 10px;
}

input[type=submit] {
    background-color: #ffb347;
    width: 33%;
    margin: 0.5%;
    height: 5%;
    font-size: 100%;

}

input[type=text] {
    width: 33%;
    margin: 0.5%;
    height: 5%;
    font-size: 100%;
}

input[type=password] {
    width: 33%;
    margin: 0.5%;
    height: 5%;
    font-size: 90%;
}

.form {
    width: 100%;
    margin-left: 33%;
    margin-top: 5%;
}

label {
    margin: 0.5%;
    font-size: 20px;
}
