a {
    text-decoration: none;
    float: right;
    margin: 7.5px;
    font-size: 18px;
    color: ffffff;
}

a:hover {
    text-decoration: none;
    color: 000000;
}

#title {
    float: left;
    font-size: 28px;
}

p {
    font-size: 14px;
    text-align: center;
    margin: 2%;
}

.p1 {
    text-align: center;
    font-size: 14px;
}

#header {
    overflow: hidden;
    background-color: #ff6961;
    padding: 8px 10px;
}

input[type="submit"] {
    background-color: #ff6961;
    width: 33%;
    margin: 0.5%;
    height: 5%;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #ff6961;
    width: 33%;
    margin: 0.5%;
    height: 5%;
    font-size: 15px;
    color:white;
}

input[type=text] {
    width: 33%;
    margin: 0.5%;
    height: 5%;
    font-size: 14px;
}

input[type=password] {
    width: 33%;
    margin: 0.5%;
    height: 5%;
    font-size: 14px;
}

.form {
    margin: 2%;
    text-align: center;
}

.form1 {
    margin: 2%;
    text-align: center;
}

label {
    margin: 0.5%;
    font-size: 14px;
}